body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.weatherContainer {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(166, 226, 229) 0%,
    rgb(198, 232, 221) 100.2%
  );
  height: 650px;
  max-width: 700px;
  padding: 25px;
  margin: 30px auto;
  border: 2px;
  border-color: rgb(234, 127, 255);
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}
#degree {
  font-size: 140px;
  color: white;
}
#unit,
#bar,
#fahrenheitUnit {
  font-size: 30px;
  position: relative;
  top: -75px;
}
#bar {
  color: white;
}
#unit {
  padding-left: 15px;
}

ul {
  padding-top: 25px;
}

li {
  list-style: none;
  display: block;
  font-size: 20px;
  padding-left: 15px;
  padding-bottom: 10px;
  text-transform: capitalize;
}
#km {
  text-transform: lowercase;
}
h2 {
  padding-bottom: 40px;
  font-size: 40px;
}
#lastUpdated {
  font-size: 20px;
}
h3 {
  font-size: 20px;
}
#nextFiveDays {
  font-size: 40px;
  text-align: center;
}
#nextFiveTemp {
  font-size: 20px;
  text-align: center;
}
.forecastMin {
  opacity: 0.6;
}

#cityName,
#country,
h4 {
  font-size: 40px;
  padding-top: 40px;
  color: white;
}
#searchButton {
  border: 2px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  padding: 20px;
  text-align: center;
  color: rgba(166, 226, 229, 1);
  margin-left: 20px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 0px 10px 0px;
}
#locationButton {
  border: 2px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  padding: 20px;
  text-align: center;
  color: rgba(166, 226, 229, 1);
  margin-left: 20px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 0px 10px 0px;
}
#search-bar {
  width: 300px;
  border: white;
  margin-top: 33px;
  padding: 5px 0px 5px 5px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 0px 10px 0px;
}
p {
  padding-top: 60px;
  text-align: center;
  opacity: 0.6;
}
h1 .active {
  color: white;
  cursor: default;
  text-decoration: none;
}
h1 .active:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}
